.proshow_container {
	background-image: url("../artist_bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* decrease opacity */
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.proshow_container img {
	width: auto;
	height: 50rem;
	transform: skew(-5deg);
	border-radius: 1rem;
}

.artist_name {
	font-size: 5rem;
	font-weight: 700;
	font-family: "Dancing Script", cursive;
	color: white;
	overflow: hidden;
	transform: translateY(-10rem) skew(-5deg) translateX(-1.7rem);
	background-color: rgba(0, 0, 0, 0.7);
	padding: 0 1.75rem;
}

@media (max-width: 600px) {
	.proshow_container img {
		height: 30rem;
	}

	.artist_name {
		font-size: 3rem;
		transform: translateY(-5rem) skew(-5deg) translateX(-1rem);
		padding: 0 1rem;
	}
}
